%head
  %link{href:'https://api.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css', rel:'stylesheet'}
  %script{src:'https://api.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js'}


Hi!!!
%body
  %div{id:'map', style:'width: 1200px; height: 700px;'}
    %script{src:'/js/mapbox.js'}
